<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="skype_toolbar" content="skype_toolbar_parser_compatible">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title><%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111684714-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111684714-1');
</script>

</head>
<body>
  <div id="container">
    <div id="header">
    <%= render "shared/header" %>
    </div>
    <div id="content">
      <% if flash.notice %>
      <p class="notice"><%= flash.notice %></p>
      <% end %>

      <%= yield %>
    </div>
    <div id="sidebar">
      <%= render "shared/sidebar" %>
    </div>
    <div id="footer">
      <%= render "shared/footer" %>
    </div>
  </div>
</body>
</html>
