<!DOCTYPE html>
<html>
<head>
  <%= render "shared/head" %>
  <title>NaNda</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <%= render "shared/header" %>

  <%= yield %>

  <%= render "shared/sidebar" %>
  <%= render "shared/footer" %>

</body>
</html>
