<h2><%=current_user.name%>さんのマイページ情報</h2>
<%if user_signed_in? %>
<table style="width: 100%;">
	<tr>
		<th>お名前</th>
		<td><%=current_user.name%></td>
	</tr>
	<tr>
		<th>ニックネーム</th>
		<td><%=current_user.nickname%></td>
	</tr>
	<tr>
		<th>お写真</th>
		<td><img src="<%=current_user.image%>"></td>
	</tr>
</table>
<%= link_to "記事一覧", [current_user, :entries] %>
<%end%>
