<ul>

	<%if user_signed_in? %>
	<!-- サインアウト状態 -->
	<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
	<% else %>
	<!-- サインイン状態 -->
	<li><%= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path %></li>
	<li><%= link_to "ログイン", new_user_session_path %></li>
	<% end %>

	<%if user_signed_in? %>
	<li><%=current_user.email%></li>
	<li><%=current_user.name%></li>
	<li><%=current_user.nickname%></li>
	<li><%=current_user.image%></li>
	<li><%=current_user.location%></li>
	<%end%>
</ul>
