<% @page_title = @user ? @user.name + "さんのホメトーク" : "ホメトーク一覧" %>
<% @page_description = @user ? @user.name + "さんのホメトークの一覧ページになります。" : "ホメトークの一覧ページになります。" %>

<% set_meta_tags title: @page_title,
description: "「" + @entry.title + "」ホメトークは、人から褒められてテンションを上がることができるサービスです。" %>

<% set_meta_tags title: @entry.title %>

<article class="p-article c-talk--right">
	<b class="c-talk__img" style="background-image: url(&quot;<%= @entry.author.image %>&quot;);"></b>
	<p class="c-talk__name"><%= @entry.author.name %></p>
	<span class="c-talk__date"><%= @entry.posted_at.strftime("%m/%d %H:%M") %></span>

	<div class="c-talk__text">
		<h1 class="c-talk__balloon"><%= @entry.title %></h1>
		<div class="c-talk__url"><%= url_for %></div>
	</div>
	<% if current_user == @entry.author %>
	<ul class="p-article__bottom c-text--midium">
		<li>
			<%= link_to "編集", [:edit, @entry] %>
		</li>
	</ul>
	<% end %>
</article>


<% if @entry.body? %>
<div class="p-article__detail">
	<div class="p-article__detail__ttl">ホメエピソード</div>
	<%= simple_format(@entry.body, :class => "p-article__detail__text") %>
</div>
<% end %>

<ul class="p-sns">
	<!-- <li class="c-sns--facebook"><i class="fa fa-facebook" aria-hidden="true"></i>facebookボタン</li> -->
	<li class="c-sns--twitter">
		<a href="http://twitter.com/share?url=https://<%= request.host_with_port%><%= url_for(action: :show, id: @entry.id) %>&text=「<%= @entry.title %>」%0a&hashtags=ホメトーク" target="_blank">
			<i class="fa fa-twitter" aria-hidden="true"></i>twitterボタン
		</a>
	</li>
</ul>